<div class="chartWrapper">
  <div class="chartAreaWrapper">
    <mat-form-field>
      <mat-label>Choose a day</mat-label>
      <mat-select
        [(ngModel)]="selectedOption"
        (selectionChange)="onDayChanged($event.value)"
      >
        <mat-option *ngFor="let day of daysOfWeek" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="loadingSpinnerData" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <canvas
      baseChart
      [data]="dataset"
      [type]="'bar'"
      [options]="options"
      *ngIf="!loadingSpinnerData"
    ></canvas>
    <div class="status" *ngIf="!loadingSpinnerData">
      {{ occupancyStatus }}
    </div>
  </div>
</div>
