<div class="container">
  <div class="rectangle">
    <div class="text">
      <div>Slobodna</div>
      <div>parkirna mjesta</div>
    </div>
    <div class="circles">
      <div class="circle blue">
        <span>{{ blueCircleNumber }}</span>
      </div>
      <div class="circle green">
        <span>{{ greenCircleNumber }}</span>
      </div>
    </div>
    <div *ngIf="loadingSpinnerData" class="spinner-container">
      <div class="spinner"></div>
    </div>
  </div>
  <div>
    <app-osm></app-osm>
  </div>
</div>
